@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/*Utility Classes*/
.primary-text {
    color: #e4b95b;
}

a {
    text-decoration: none;
}

.btn-secondry {
    color: #fff;
    background: #383848;
    margin-top: 2rem;
}

.btn-primary:hover,
.btn-secondry:hover {
    background-color: #e4b95b;
}

/*header start*/
header {
    height: 100vh;
    background: url(../img/479739874_122135242484529103_7159571966534234372_n.jpg) center/cover no-repeat;
    position: relative;
    /* overflow: hidden; */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    transition: 0.5s;
}

.btn-primary {
    color: white;
    border: solid 1px white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1px 10px; */
    font-size: 15px;
    position:fixed;
     gap: 100px;
     background-image: linear-gradient(60deg,rgb(92, 10, 10),rgb(128, 8, 8),rgb(141, 60, 60));
}

#navbar img {
    width: 120px;
    margin-left: 100px;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
     gap: 30px;
   
}

#navbar ul li {
    padding: 15px;
}

#navbar ul li a {
    color: white;
    font-weight: 600;
    width: fit-content;
    animation: border 1s 1;
    animation-play-state: paused;
    animation-timing-function: linear;

}

@keyframes border {
    0% {
        border-bottom: none;
    }

    50% {
        border-bottom: 2px solid;
    }

    100% {
        border-bottom: solid 3px #e4b95b;
    }
}

#navbar ul li a:hover {
    animation-play-state: running;
}

#navbar nav ul li a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-bottom: 5px; /* مساحة للخط */
}

#navbar nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ff9800; /* لون الخط */
  transition: width 0.3s ease;
}

#navbar nav ul li a:hover::after,
#navbar nav ul li a:focus::after {
  width: 100%;
}

header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
    padding-top: 400px;
}

header .content h1 {
    font-size: 40px;
    color: white;
}

header .content p {
    margin: 20px 0 40px;
    color: white;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

header * {
    z-index: 10;

}

/*header end*/

/*about start*/
#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

#about .title,
#offers .title {
    text-align: center;
    margin-bottom: 4rem;
}

#about h2,
#offers h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#about h2 {
    color: #383848;
}

#about .title p {
    font-size: 19px;
    color: #9a9a9a;
    font-weight: 600;
}
.offers-items .img-oria{
    width: 30%;
    height: 280px;
    border-radius: 50%;
}

#about .about-content {
    display: flex;
    justify-content: space-between;
}

#about .about-content img {
    width: 300px;
    height: 500px;
}

#about .about-content p {
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;
}

/*about end*/

/* Offers start*/
#offers {
   
    height: auto;
    display: flex;
    justify-content: center;
    background: url(../img/473054994_122130087008529103_6389865947028548423_n.jpg) center/cover no-repeat;
    margin: 20px 0;
     background-color: rgba(0, 0, 0, 0.6);
}

#offers h2 {
    color: #e4b95b;
}

#offers .title p {
    color: #570202;
    font-weight: 500;
}

#offers .offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #570303;
}

#offers .offers-items .item {
    width: 200px;
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offers-items p {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

#offers .offers-items img {
    width: 75%;
    animation: spin 10s linear infinite;
    transition: 1s;
    margin: 20px 0;
}

#offers .offers-items img:hover {
    scale: 1.3;
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/*Offers end*/

/*menu start*/

#menu .title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 50px;
}

#menu .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#menu .container .title h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

#menu .container .title p {
    font-size: 14px;
    color: rgb(173, 173, 173);
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#menu .menu-items .menu-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#menu .title h2 {
    color: #383848;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: Arial;
}

#menu .menu-items .item {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

#menu .menu-items .menu-item {
    display: flex;
    margin: 20px 0;
}

#menu .menu-items .menu-item p {
    font-weight: bold;
}

#menu .menu-items .menu-item h3 {
    font-size: 20px;
    margin: 15px 5px;
    padding-bottom: 10px;
    font-family: Arial;
    color: #383848;
    border-bottom: dashed 1px rgb(141, 141, 141);
}

#menu .menu-items .menu-item span {
    font-size: 18px;
    font-weight: 600;
    float: right;
}

#menu .btn-thrid {
    text-align: center;
    margin: auto;
    border: solid 1px;
    border-radius: 15px;
    color: white;
    background-color: #e4b95b;
    width: fit-content;
    margin-bottom: 50px;
}

#menu .btn-thrid:hover {
    background-color: #383848;
}

/*menu end*/


/*daytime start*/
#daytime {
    text-align: center;
    color: #fff;
    background: url(../img/daytime_bg.jpeg) center/cover fixed no-repeat;
}

#daytime .daytime-items {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#daytime .daytime-items .daytime-item {
    width: 80%;
    margin: auto;
}

#daytime .daytime-items .daytime-item h1 {
    font-size: 35px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

#daytime .daytime-items .daytime-item h3 {
    font-size: 20px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

/*daytime end*/

/*Gallary start*/
#gallary {
    background: url(../img/offer-background.jpg) center/cover no-repeat;
    color: #fff;
    text-align: center;
    height: auto;
    padding: 8rem 0 6rem;
}

#gallary .container .gallary-img {
    display: grid;
    gap: 10px 10px;
    grid-template-areas:
        "a1 a1 a1 a2 a2 a2 a3 a3 a3"
        "a1 a1 a1 a4 a4 a4 a3 a3 a3"
        "a5 a5 a5 a4 a4 a4 a6 a6 a6"
        "a5 a5 a5 . . . a6 a6 a6"
    ;
    align-items: start;
    justify-content: space-evenly;
    justify-items: center;
}

#gallary .container h2 {
    font-size: 45px;
    /* padding-top: 50px; */
    padding-bottom: 60px;
}

#gallary .container .gallary-img img {
    width: 90%;
    border-radius: 15px;
    transition: all 0.5s;

}

#gallary .container .gallary-img img:hover {
    transform: scale(0.9);
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
    /* margin-top: -60px; */
}

.a5 {
    grid-area: a5;
    height: 300px;
    /* margin-top: -60px; */

}

.a6 {
    grid-area: a6;
    height: 300px;
    /* margin-top: -60px; */
}

/*Gallary End*/

/*Contact start*/
#contact {
    padding: 2rem;
    color: #383848;
    height: 80vh;
    background-color: white;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: auto;

}

#contact .container .text {
    width: 50%;
}

#contact .container .text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.container .text p {
    font-size: 17px;
    margin-bottom: 15px;
    color: #9a9a9a;
    font-weight: 300;
}

#contact .container .text .icon {
    color: #e4b95b;
    margin-right: 2.5px;
}


#contact .container .text a {
    font-size: 35px;
    color: #383848;
    margin-left: 5px;
    width: fit-content;
}

#contact .input {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 5rem;
}

#contact .input form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contact .input input {
    padding: 10px 15px;
    background-color: rgb(228, 228, 228);
    border: none;
    height: 50px;
    margin-bottom: 30px;
}

#contact .input textarea {
    margin-bottom: 30px;
    background-color: rgb(228, 228, 228);
    padding: 10px 15px;
    height: 125px;
    border: none;
}

#contact .input button {
    background-color: #e4b95b;
    cursor: pointer;
    color: #f4f4f4;
    width: 40%;
}

#contact .input a {
    color: #fff;
}

#contact .input button:hover {
    background-color: #383848;
}

/*Contact End*/

/*Footer start*/
footer {
    color: #f4f4f4;
    font-size: 14px;
    padding: 20px;
    background-color: #383848;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: #f4f4f4;
    font-weight: 600;
}

/*Footer End*/

.buttonUp {
    height: 50px;
    right: 5px;
    border: none;
    z-index: 9999;
    position: fixed;
    bottom: 200px;
    right: 100px;
}

#topBtn {
    font-size: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #b1afaf;
}


/* Responsineness */
/* Medium Screen + Tablet*/

@media (max-width: 1000px) {
    #navbar img {
        margin-left: 20px;
    }

    #navbar ul {
        margin-right: 20px;
        margin: auto;
    }

    #navbar ul li {
        padding: 10px;
    }

    header .content h1 {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
    }

    header .content p {
        text-align: center;
        font-size: 14px;
    }

    #about {
        height: auto;
        padding: 4rem 2rem;
    }

    #about .title,
    #offers .title {
        margin-bottom: 2rem;
    }

    #about h2,
    #offers h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    #about .about-content p {
        margin-right: 1rem;
        font-size: 14px;
    }

    #about img {
        width: 250px;
    }

    #offers {
        height: auto;
    }

    #offers .offers-items img {
        width: 150px;
    }

    #offers .offers-items h3 {
        font-size: 18px;
    }

    #menu .menu-items {
        display: block;
        margin-bottom: 10px;
    }

    #menu .title {
        margin-top: 30px;
        margin-bottom: 1rem;
    }

    #menu .menu-items .menu-item img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    #menu .container .title h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #menu .container .big-item h3 {
        font-size: 15px;
    }

    #gallary {
        height: auto;
        padding: 5rem 0 6rem;
    }

    #gallary .container .gallary-img {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #gallary .container .gallary-img img {
        width: 95%;
        height: 200px;
    }

    .a5 {
        height: 200px;
    }

    .a6 {
        height: 200px;
    }

    #contact {
        padding-top: 0;
    }

    #contact .container {
        flex-direction: initial;
        height: auto;
        text-align: center;
        width: 90%;
    }

    #contact .container .text {
        width: 100%;
        margin: auto;
        text-align: start;
    }

    #contact .container .text h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    #contact .container .input {
        width: 100%;
    }

    footer {
        margin-top: 50px;
    }
}

/* Mobile Devices */
@media (max-width: 600px) {
    #navbar {
        flex-direction: column;
    }

    #navbar img {
        margin-bottom: 20px;
    }

    #navbar ul {
        /* justify-items: center; */
        font-size: 15px;
    }

    header .content h1 {
        font-size: 28px;
    }

    header .content p {
        font-size: 15px;
    }

    #about .about-content {
        flex-direction: column;
    }

    #about .about-content a {
        margin: 2rem 0;
    }

    #about img {
        display: none;
    }

    #offers {
        height: auto;
        padding: 30px 10px;
    }

    #offers .offers-items {
        flex-direction: column;
    }

    #menu .menu-items .menu-item {
        margin: 20px 10px;
    }

    #daytime .daytime-items {
        display: block;
        height: auto;
        padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
        margin-top: 20px;
    }

    #gallary {
        height: auto;
        padding: 30px 10px;
    }

    #gallary .container .gallary-img {
        width: 95%;
        margin: auto;
    }

    #contact {
        padding: 1rem;
        gap: 15px;
        width: 95%;
        height: auto;
    }

    #contact .container {
        width: 100%;
        flex-direction: column;
    }

    #contact .container .text h2 {
        font-size: 20px;
        margin-bottom: 7.5px;
    }

    #contact .container .text p {
        font-size: 15px;
        margin-bottom: 7.5px;
    }

    #contact .container .text .icon {
        margin-right: 1.25px;
    }

    #contact .container .text a {
        font-size: 25px;
    }

    #contact .input input {
        height: 40px;
        margin-bottom: 20px;
    }

    #contact .input textarea {
        margin-bottom: 20px;
        height: 100px;
    }

    #contact .input button {
        width: 100%;
    }

    #contact .input a {
        font-size: 10px;
    }

    #gallary .a5 {
        height: 150px;
    }

    #gallary .a6 {
        height: 150px;
    }
}